---
layout: page
format: post
---

{{ content }}
<ul>
 <li><b>Duración:</b> 
 {% if page.duracion.size > 1 %}
  <ul>
   {% for d in page.duracion %}
   <li>{{ d }}</li>
   {% endfor %}
  </ul>
 {% else %}
  {{ page.duracion[0] }} 
 {% endif %}
 </li>
 <li><b>Requisitos previos:</b> {{ page.requisitos }} </li>
</ul>

{% assign proximos = site.posts | where:"category","agenda" | where:"actividad",page.actividad | sort:"cuando","last" %}
{% assign primero = true %}
{% if proximos.size > 0 %}
 {% for proximo in proximos %}
  {% if proximo.cuando > site.time %}
   {% if primero %}
    <h2>Próximas fechas programadas</h2>
    <ul>
    {% assign primero = false %}
   {% endif %}
   {% for evento in proximos %}
    <li><a href="{{ evento.url }}">{{evento.cuando | date_to_rfc822}}</a></li>
   {% endfor %}
  {% endif %}
 {% endfor %}
 {% if primero == false %}
  </ul>
 {% endif %}
{% endif %}


